*{
    padding: 0px;
    margin: 0px;

}
.box2{
    width: 280px;
    height: 212px;
    margin: 250px auto;
    background: url('../image/1.jpg');
    background-size: cover;
    box-shadow: 0px 0px 8px 2px grey;
    position: relative;
    overflow: hidden;
}
.cover{
    width: 280px;
    height: 212px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: -212px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
}
.box2:hover .cover{
    position: absolute;
    top: 0px;
}
.cover > a{
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: #fff;
    text-align: center;
    line-height: 45px;
    color: #000;
    position: absolute;
    top: 84px;
    left: 90px;
}
.cover .b2{
    left: 140px;
}